<!DOCTYPE html>
{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="shortcut icon" type="image/svg" href="{% static 'images/favicon.svg' %}" >
	<style>
.container,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
	width: 100%;
	margin-right: 0%;
	margin-left: 3%;
}

		.navbar{
			top:0px;
			width:100%;
			position: absolute;
			z-index: 10000000;
		}
		.
	</style>

	<title>{% block title %}Tick Mapper{% endblock %}</title>
</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Sendmap</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Map</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="/routes">Routes</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
				<!-- >
				<ul class='navbar-nav justify-content-center'>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search ticks and crags" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</ul>
				< -->
				<ul class='navbar-nav ms-auto'>
					{% if user.is_authenticated %}
					<li class="nav-item dropdown" style="overflow: visible !important;">
						<a class="nav-link dropdown-toggle ms-auto" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.username }}
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/import">Import</a></li>
							<li><a class="dropdown-item" href="/users/logout_user">Logout</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/users/register_user">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/login_user">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<!-- MESSAGES -->
	{% if messages %} {% for message in messages %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close justify-content-right" data-bs-dismiss="alert"></button>
	</div>
	{% endfor %} {% endif %}
	<div class="container mt-2" style="padding-top:50px;">{% block content %} {% endblock %}</div>
</body>
</html>
