{%extends "app/base.html" %} {% block content %}
<form action="" method=POST>
	{% csrf_token %}
<div class="mb-3">
	<h1> Login </h1>
	<label for="usernameInput" class="form-label">Username</label>
	<input type="text" class="form-control" name="username" aria-describedby="usernameHelp">
	<div id="usernameHelp" class="form-text"></div>
</div>
<div class="mb-3">
	<label for="passwordInput" class="form-label">Password</label>
	<input type="password" class="form-control" name="password">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
