{%extends "app/base.html" %}

{% block content %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		  crossorigin=""/>

	<!-- Make sure you put this AFTER Leaflet's CSS -->
	 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			   crossorigin=""></script>
	<style>
		html, body, main{
		width:100%;
		height: 100%;
		background: #00001F;
		}
		
		#map{
		position:absolute;
		bottom: 15px;
		top: 70px;
		width: 93%;
		}
		@media only screen and (max-height: 700px){
		#map{
			position:absolute;
			bottom: 15px;
			top: 100px;
			width: 93%;
			}
		}
		.alert-primary{position:absolute;
			z-index: 10000000;
			left: 40px;
		}


	</style>
	<main>
	<div id="map"></div>
	<script>
		const map = L.map('map').setView([37.78, -83.65], 13);
		console.log(this)
		const style = map.getContainer();
		console.log(style);
		const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 25,
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);
		const crags= [];
		const ticks=[];
		{% if request.user.is_authenticated %}
			{% for crag, data in data.items %}
				crags.push(L.circleMarker([{{ data.lat }}, {{ data.lon }}], {
					color: {% if data.ticks|length != 0 %}'#d88515'{% else %}'#7a31ce'{% endif %},
					fillopacity: 0.2,
					radius: 4
				}).addTo(map));
				crags[{{ forloop.counter }}-1].bindTooltip("<h6><b>{{crag}}</b></h6><ul>{% for tick in data.ticks %}<li>{{tick.date}} {{tick.name}} {{tick.grade}}</li>{% endfor %}</ul>&nbsp;{{data.ticks|length}} ticks");
				crags[{{ forloop.counter }}-1].bindPopup("<h6><b>{{crag}}</b></h6><ul>{% for tick in data.ticks %}<li>{{tick.date}} {{tick.name}} {{tick.grade}}</li>{% endfor %}</ul>&nbsp;{{data.ticks|length}} ticks");
			{% endfor %}
		{% else %}
			{% for crag, data in data.items %}
				crags.push(L.circleMarker([{{ data.lat }}, {{ data.lon }}], {
					color: {% if data.ticks|length != 0 %}'#d88515'{% else %}'#7a31ce'{% endif %},
					fillopacity: 0.2,
					radius: 4
				}).addTo(map));
				crags[{{ forloop.counter }}-1].bindTooltip("<h6><b>{{crag}}</b></h6><ul>{% for tick in data.ticks %}<li>{{tick.date}} {{tick.name}} {{tick.grade}}</li>{% endfor %}</ul>&nbsp;{{data.ticks|length}} ticks");
				crags[{{ forloop.counter }}-1].bindPopup("<h6><b>{{crag}}</b></h6><ul>{% for tick in data.ticks %}<li>{{tick.date}} {{tick.name}} {{tick.grade}}</li>{% endfor %}</ul>&nbsp;{{data.ticks|length}} ticks");
			{% endfor %}
		{% endif %}

	</script>
	</main>
{% endblock %}
